<!-- services/vectoplan-app/templates/chat_viewer.html -->
{% set chat_id_s = (chat_id|string) if chat_id is defined and chat_id is not none else '' %}
{% set base_url_s = request.host_url.rstrip('/') %}
{% set chat_id_q = chat_id_s|urlencode %}

{# Values passed by routes/ui/projects.py. Defensive fallbacks stay local to vectoplan-app. #}
{% set workspace_raw = workspace|default({}, true) %}
{% set workspace_obj = workspace_raw if workspace_raw is mapping else {} %}

{% set workspace_paths_raw = workspace_paths|default({}, true) %}
{% set workspace_paths_obj = workspace_paths_raw if workspace_paths_raw is mapping else {} %}

{% set project_raw = project|default(current_project|default({}, true), true) %}
{% set project_obj = project_raw if project_raw is mapping else {} %}

{% set current_user_raw = current_user|default(auth|default(auth_context|default({}, true), true), true) %}
{% set current_user_obj = current_user_raw if current_user_raw is mapping else {} %}

{% set auth_raw = current_user_obj.get('auth', current_user_obj) %}
{% set auth_obj = auth_raw if auth_raw is mapping else current_user_obj %}

{% set project_paths_raw = project_obj.get('paths', {}) %}
{% set project_paths_obj = project_paths_raw if project_paths_raw is mapping else {} %}

{% set project_sidebar_raw = project_sidebar|default({}, true) %}
{% set project_sidebar_obj = project_sidebar_raw if project_sidebar_raw is mapping else {} %}

{% set project_public_id_raw = project_obj.get('public_id', project_obj.get('publicId', project_obj.get('project_public_id', project_obj.get('projectPublicId', 'new')))) %}
{% set project_public_id = project_public_id_raw if project_public_id_raw not in ['', none] else 'new' %}
{% set project_public_id_q = project_public_id|string|urlencode %}

{% set project_id = project_obj.get('id', project_obj.get('project_id', '')) %}
{% set project_name = project_obj.get('name', project_obj.get('display_name', project_obj.get('displayName', 'Neues Projekt'))) %}
{% set project_setup_status = project_obj.get('setup_status', project_obj.get('setupStatus', 'draft')) %}
{% set project_visibility = project_obj.get('visibility', 'private') %}

{% set project_is_new_raw = project_obj.get('is_new', project_obj.get('isNew', true if project_public_id in ['', 'new', none] else false)) %}
{% set project_is_new = true if project_is_new_raw in [true, 'true', 'True', 'TRUE', '1', 1, 'yes', 'YES', 'on', 'ON'] else false %}

{% set project_is_configured_raw = project_obj.get('is_configured', project_obj.get('isConfigured', false)) %}
{% set project_is_configured = true if project_is_configured_raw in [true, 'true', 'True', 'TRUE', '1', 1, 'yes', 'YES', 'on', 'ON'] else false %}

{% set project_exists = false if project_is_new else true %}

{% set access_raw = project_obj.get('access', {}) %}
{% set access_obj = access_raw if access_raw is mapping else {} %}
{% set permissions_raw = access_obj.get('permissions', {}) %}
{% set permissions_obj = permissions_raw if permissions_raw is mapping else {} %}

{% set can_view_raw = access_obj.get('can_view', permissions_obj.get('view', true if project_is_new else false)) %}
{% set can_view_project = true if can_view_raw in [true, 'true', 'True', 'TRUE', '1', 1, 'yes', 'YES', 'on', 'ON'] else false %}

{% set can_manage_raw = access_obj.get('can_manage', permissions_obj.get('manage', permissions_obj.get('manage_settings', false))) %}
{% set can_manage_project = true if can_manage_raw in [true, 'true', 'True', 'TRUE', '1', 1, 'yes', 'YES', 'on', 'ON'] else false %}

{% set can_edit_raw = access_obj.get('can_edit', permissions_obj.get('edit', true if project_is_new else false)) %}
{% set can_edit_project = true if can_edit_raw in [true, 'true', 'True', 'TRUE', '1', 1, 'yes', 'YES', 'on', 'ON'] else false %}

{% set authenticated_raw = auth_obj.get('authenticated', auth_obj.get('is_authenticated', auth_obj.get('isAuthenticated', false))) %}
{% set is_authenticated = true if authenticated_raw in [true, 'true', 'True', 'TRUE', '1', 1, 'yes', 'YES', 'on', 'ON'] else false %}

{% set demo_mode_raw = demo_mode|default(auth_obj.get('demo_mode', auth_obj.get('demoMode', auth_obj.get('is_demo', project_obj.get('demo_mode', project_obj.get('demoMode', false))))), true) %}
{% set is_demo_mode = true if demo_mode_raw in [true, 'true', 'True', 'TRUE', '1', 1, 'yes', 'YES', 'on', 'ON'] else false %}

{% set persistent_raw = auth_obj.get('persistent', auth_obj.get('can_persist_projects', auth_obj.get('canPersistProjects', true if is_authenticated and not is_demo_mode else false))) %}
{% set is_persistent = true if persistent_raw in [true, 'true', 'True', 'TRUE', '1', 1, 'yes', 'YES', 'on', 'ON'] else false %}

{% set public_viewer_raw = access_obj.get('is_public_viewer', access_obj.get('is_unlisted_viewer', false)) %}
{% set public_viewer_by_access = true if public_viewer_raw in [true, 'true', 'True', 'TRUE', '1', 1, 'yes', 'YES', 'on', 'ON'] else false %}
{% set is_public_viewer = true if public_viewer_by_access or not is_authenticated else false %}

{% set publication_raw = project_obj.get('publication', {}) %}
{% set publication_obj = publication_raw if publication_raw is mapping else {} %}
{% set effective_raw = publication_obj.get('effective_published_workspaces', publication_obj.get('effectivePublishedWorkspaces', {})) %}
{% set effective_obj = effective_raw if effective_raw is mapping else {} %}

{% set map_published_raw = effective_obj.get('map', false) %}
{% set editor3d_published_raw = effective_obj.get('editor3d', effective_obj.get('3d', false)) %}
{% set cad2d_published_raw = effective_obj.get('cad2d', effective_obj.get('2d', false)) %}
{% set lv_published_raw = effective_obj.get('lv', false) %}
{% set versions_published_raw = effective_obj.get('versions', false) %}

{% set map_published = true if map_published_raw in [true, 'true', 'True', 'TRUE', '1', 1, 'yes', 'YES', 'on', 'ON'] else false %}
{% set editor3d_published = true if editor3d_published_raw in [true, 'true', 'True', 'TRUE', '1', 1, 'yes', 'YES', 'on', 'ON'] else false %}
{% set cad2d_published = true if cad2d_published_raw in [true, 'true', 'True', 'TRUE', '1', 1, 'yes', 'YES', 'on', 'ON'] else false %}
{% set lv_published = true if lv_published_raw in [true, 'true', 'True', 'TRUE', '1', 1, 'yes', 'YES', 'on', 'ON'] else false %}
{% set versions_published = true if versions_published_raw in [true, 'true', 'True', 'TRUE', '1', 1, 'yes', 'YES', 'on', 'ON'] else false %}

{% set member_workspace_access = true if can_view_project and not is_public_viewer else false %}
{% set project_tools_enabled = true if project_exists and project_is_configured else false %}

{% set map_workspace_enabled = true if project_tools_enabled and (member_workspace_access or map_published) else false %}
{% set editor3d_workspace_enabled = true if project_tools_enabled and (member_workspace_access or editor3d_published) else false %}
{% set cad2d_workspace_enabled = true if project_tools_enabled and (member_workspace_access or cad2d_published) else false %}
{% set lv_workspace_enabled = true if project_tools_enabled and (member_workspace_access or lv_published) else false %}
{% set versions_workspace_enabled = true if project_tools_enabled and (member_workspace_access or versions_published) else false %}
{% set admin_workspace_enabled = true if project_exists and can_manage_project and not is_demo_mode else false %}

{# Project-first defaults. No visible chat UI remains in this shell. #}
{% if project_public_id and project_public_id != 'new' and not project_is_new %}
  {% set default_project_url = '/ui/project/' ~ project_public_id_q ~ '/project' %}
  {% set default_editor_url = '/ui/project/' ~ project_public_id_q ~ '/editor3d' %}
  {% set default_map_url = '/ui/project/' ~ project_public_id_q ~ '/map' %}
  {% set default_versions_url = '/ui/project/' ~ project_public_id_q ~ '/versions' %}
  {% set default_versions_api_url = '/v1/projects/' ~ project_public_id_q ~ '/versions' %}
  {% set default_cad2d_url = '/ui/project/' ~ project_public_id_q ~ '/cad2d' %}
  {% set default_admin_url = '/ui/project/' ~ project_public_id_q ~ '/admin' %}
  {% set default_lv_url = '/ui/project/' ~ project_public_id_q ~ '/lv' %}
  {% set default_context_url = '/ui/project/' ~ project_public_id_q ~ '/context.json' %}
{% else %}
  {% set default_project_url = '/ui/project/new/project' %}
  {% set default_editor_url = '' %}
  {% set default_map_url = '' %}
  {% set default_versions_url = '' %}
  {% set default_versions_api_url = '' %}
  {% set default_cad2d_url = '' %}
  {% set default_admin_url = '' %}
  {% set default_lv_url = '' %}
  {% set default_context_url = '/ui/project/new/context.json' %}
{% endif %}

{% set default_viewer_json_url = '' %}
{% set default_upload_url = '' %}
{% set default_selection_url = '' %}
{% set default_map_json_url = '' %}
{% set default_plan2d_url = '' %}
{% set default_cad_embed_url = '' %}

{% set resolved_project_url = workspace_paths_obj.get('projectPagePath', workspace_paths_obj.get('projectUrl', project_paths_obj.get('projectPagePath', project_paths_obj.get('projectUrl', default_project_url)))) %}
{% set resolved_project_public_url = workspace_paths_obj.get('projectPublicUrl', project_paths_obj.get('projectPublicUrl', '/project=' ~ project_public_id_q if project_public_id else '/project=new')) %}

{% set editor_page_path = workspace_paths_obj.get('editor3dPagePath', workspace_paths_obj.get('editorPagePath', project_paths_obj.get('editor3dPagePath', project_paths_obj.get('editorPagePath', default_editor_url)))) %}
{% set initial_editor_path = workspace_paths_obj.get('initialEditorUrl', project_paths_obj.get('initialEditorUrl', editor_page_path)) %}
{% set viewer_json_path = workspace_paths_obj.get('viewerJsonPath', project_paths_obj.get('viewerJsonPath', default_viewer_json_url)) %}
{% set versions_path = workspace_paths_obj.get('versionsPath', project_paths_obj.get('versionsPath', default_versions_api_url)) %}
{% set versions_page_path = workspace_paths_obj.get('versionsPagePath', project_paths_obj.get('versionsPagePath', default_versions_url)) %}
{% set map_page_path = workspace_paths_obj.get('mapPagePath', project_paths_obj.get('mapPagePath', default_map_url)) %}
{% set map_json_path = workspace_paths_obj.get('mapJsonPath', project_paths_obj.get('mapJsonPath', default_map_json_url)) %}
{% set plan2d_json_path = workspace_paths_obj.get('plan2dJsonPath', project_paths_obj.get('plan2dJsonPath', default_plan2d_url)) %}
{% set cad2d_page_path = workspace_paths_obj.get('cad2dPagePath', project_paths_obj.get('cad2dPagePath', default_cad2d_url)) %}
{% set cad_embed_json_path = workspace_paths_obj.get('cadEmbedJsonPath', project_paths_obj.get('cadEmbedJsonPath', default_cad_embed_url)) %}
{% set admin_page_path = workspace_paths_obj.get('adminPagePath', project_paths_obj.get('adminPagePath', default_admin_url)) %}
{% set lv_page_path = workspace_paths_obj.get('lvPagePath', project_paths_obj.get('lvPagePath', default_lv_url)) %}
{% set upload_path = workspace_paths_obj.get('uploadPath', project_paths_obj.get('uploadPath', default_upload_url)) %}
{% set state_get_path = workspace_paths_obj.get('stateGetPath', project_paths_obj.get('stateGetPath', default_selection_url)) %}
{% set state_put_path = workspace_paths_obj.get('statePutPath', project_paths_obj.get('statePutPath', default_selection_url)) %}
{% set context_path = workspace_paths_obj.get('contextPath', project_paths_obj.get('contextPath', default_context_url)) %}

{% set resolved_default_mode = default_mode|default(workspace_obj.get('default_mode', 'project'), true) %}
{% set resolved_workspace_mode = workspace_mode|default(workspace_obj.get('workspace_mode', 'project'), true) %}

{% if resolved_default_mode in ['editor', 'editor3d', 'viewer', 'viewer3d'] %}
  {% set resolved_default_mode = '3d' %}
{% endif %}

{% if resolved_workspace_mode in ['editor', 'editor3d', 'viewer', 'viewer3d'] %}
  {% set resolved_workspace_mode = '3d' %}
{% endif %}

{% if resolved_default_mode not in ['project', 'map', '3d', '2d', 'lv', 'versions', 'admin'] %}
  {% set resolved_default_mode = 'project' %}
{% endif %}

{% if resolved_workspace_mode not in ['project', 'map', '3d', '2d', 'lv', 'versions', 'admin'] %}
  {% set resolved_workspace_mode = 'project' %}
{% endif %}

{% if resolved_default_mode == 'map' and map_workspace_enabled and map_page_path %}
  {% set resolved_workspace_src = map_page_path %}
{% elif resolved_default_mode == '3d' and editor3d_workspace_enabled and initial_editor_path %}
  {% set resolved_workspace_src = initial_editor_path %}
{% elif resolved_default_mode == '2d' and cad2d_workspace_enabled and cad2d_page_path %}
  {% set resolved_workspace_src = cad2d_page_path %}
{% elif resolved_default_mode == 'lv' and lv_workspace_enabled and lv_page_path %}
  {% set resolved_workspace_src = lv_page_path %}
{% elif resolved_default_mode == 'versions' and versions_workspace_enabled and versions_page_path %}
  {% set resolved_workspace_src = versions_page_path %}
{% elif resolved_default_mode == 'admin' and admin_workspace_enabled and admin_page_path %}
  {% set resolved_workspace_src = admin_page_path %}
{% else %}
  {% set resolved_workspace_src = resolved_project_url %}
  {% set resolved_default_mode = 'project' %}
  {% set resolved_workspace_mode = 'project' %}
{% endif %}

{# Project sidebar defaults. #}
{% set project_sidebar_items_raw = project_sidebar_obj.get('items', []) %}
{% set project_sidebar_items = project_sidebar_items_raw if project_sidebar_items_raw is sequence and project_sidebar_items_raw is not string else [] %}
{% set project_sidebar_enabled_raw = project_sidebar_obj.get('enabled', true) %}
{% set project_sidebar_default_collapsed = project_sidebar_obj.get('defaultCollapsed', project_sidebar_obj.get('default_collapsed', false)) %}
{% set project_sidebar_current_title = project_sidebar_obj.get('currentTitle', project_sidebar_obj.get('current_title', project_name if project_name else 'Aktuelles Projekt')) %}
{% set project_sidebar_current_subtitle = project_sidebar_obj.get('currentSubtitle', project_sidebar_obj.get('current_subtitle', 'Projekt definieren' if not project_is_configured else 'Projekt aktiv')) %}
{% set project_sidebar_storage_key = project_sidebar_obj.get('storageKey', project_sidebar_obj.get('storage_key', 'vectoplan.projectSidebar.v1')) %}
{% set project_sidebar_default_width = project_sidebar_obj.get('defaultWidth', project_sidebar_obj.get('default_width', 280)) %}
{% set project_sidebar_min_width = project_sidebar_obj.get('minWidth', project_sidebar_obj.get('min_width', 220)) %}
{% set project_sidebar_max_width = project_sidebar_obj.get('maxWidth', project_sidebar_obj.get('max_width', 420)) %}
{% set project_sidebar_collapsed_width = project_sidebar_obj.get('collapsedWidth', project_sidebar_obj.get('collapsed_width', 64)) %}

<!doctype html>
<html lang="de" data-theme="light">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
  <meta name="referrer" content="no-referrer">
  <meta name="color-scheme" content="light dark">
  <title>{{ project_name if project_name else 'VECTOPLAN' }} · VECTOPLAN</title>

  <meta http-equiv="Cache-Control" content="no-store, max-age=0, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">

  <script>
    (function () {
      try {
        var saved = localStorage.getItem("theme");
        if (saved === "dark" || saved === "light") {
          document.documentElement.setAttribute("data-theme", saved);
        }
      } catch (e) {}
    })();
  </script>

  <script>
    (function () {
      try {
        var setVh = function () {
          var vh = (window.innerHeight || document.documentElement.clientHeight || 0) * 0.01;
          document.documentElement.style.setProperty("--vh", vh + "px");
        };

        setVh();

        window.addEventListener("resize", setVh, { passive: true });
        window.addEventListener("orientationchange", setVh, { passive: true });
        window.addEventListener("pageshow", setVh, { passive: true });
      } catch (e) {}
    })();
  </script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}?v={{ chat_id_s }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/project_sidebar.css') }}?v={{ chat_id_s }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/project_workspace.css') }}?v={{ project_public_id|default('new', true) }}">

  <script>
    (function () {
      try {
        var chatId = {{ chat_id_s|tojson }};

        var currentProject = {};
        var currentUser = {};
        var workspacePaths = {};
        var projectSidebarItems = [];

        var projectSidebarEnabled = true;
        var projectSidebarDefaultCollapsed = false;
        var projectSidebarDefaultWidth = 280;
        var projectSidebarMinWidth = 220;
        var projectSidebarMaxWidth = 420;
        var projectSidebarCollapsedWidth = 64;
        var projectSidebarStorageKey = "vectoplan.projectSidebar.v1";
        var projectSidebarCurrentTitle = "Aktuelles Projekt";
        var projectSidebarCurrentSubtitle = "Aktiver Workspace";

        var projectPagePath = {{ resolved_project_url|tojson }};
        var projectPublicUrl = {{ resolved_project_public_url|tojson }};
        var editorPagePath = {{ editor_page_path|tojson }};
        var initialEditorUrl = {{ initial_editor_path|tojson }};
        var mapPagePath = {{ map_page_path|tojson }};
        var cad2dPagePath = {{ cad2d_page_path|tojson }};
        var lvPagePath = {{ lv_page_path|tojson }};
        var versionsPagePath = {{ versions_page_path|tojson }};
        var adminPagePath = {{ admin_page_path|tojson }};
        var initialWorkspaceUrl = {{ resolved_workspace_src|tojson }};

        var projectConfigured = {{ project_is_configured|tojson }};
        var projectExists = {{ project_exists|tojson }};
        var projectToolsEnabled = {{ project_tools_enabled|tojson }};
        var demoMode = {{ is_demo_mode|tojson }};
        var persistent = {{ is_persistent|tojson }};

        try {
          currentProject = {{ project_obj|tojson }};
          if (!currentProject || typeof currentProject !== "object" || Array.isArray(currentProject)) {
            currentProject = {};
          }
        } catch (e) {
          currentProject = {};
        }

        try {
          currentUser = {{ current_user_obj|tojson }};
          if (!currentUser || typeof currentUser !== "object" || Array.isArray(currentUser)) {
            currentUser = {};
          }
        } catch (e) {
          currentUser = {};
        }

        try {
          workspacePaths = {
            projectPagePath: projectPagePath,
            projectUrl: projectPagePath,
            projectPublicUrl: projectPublicUrl,
            contextPath: {{ context_path|tojson }},

            editorPagePath: editorPagePath,
            editor3dPagePath: editorPagePath,
            initialEditorUrl: initialEditorUrl,

            viewerJsonPath: {{ viewer_json_path|tojson }},
            versionsPath: {{ versions_path|tojson }},
            versionsPagePath: versionsPagePath,

            mapPagePath: mapPagePath,
            mapJsonPath: {{ map_json_path|tojson }},

            plan2dJsonPath: {{ plan2d_json_path|tojson }},
            cad2dPagePath: cad2dPagePath,
            cadEmbedJsonPath: {{ cad_embed_json_path|tojson }},

            adminPagePath: adminPagePath,
            lvPagePath: lvPagePath,

            uploadPath: {{ upload_path|tojson }},
            stateGetPath: {{ state_get_path|tojson }},
            statePutPath: {{ state_put_path|tojson }},

            publicationPath: {{ (('/v1/projects/' ~ project_public_id_q ~ '/publication') if project_public_id and project_public_id != 'new' else '')|tojson }},
            membersPath: {{ (('/v1/projects/' ~ project_public_id_q ~ '/members') if project_public_id and project_public_id != 'new' else '')|tojson }},
            invitationsPath: {{ (('/v1/projects/' ~ project_public_id_q ~ '/invitations') if project_public_id and project_public_id != 'new' else '')|tojson }}
          };
        } catch (e) {
          workspacePaths = {};
        }

        try {
          projectSidebarItems = {{ project_sidebar_items|tojson }};
          if (!Array.isArray(projectSidebarItems)) {
            projectSidebarItems = [];
          }
        } catch (e) {
          projectSidebarItems = [];
        }

        try {
          projectSidebarEnabled = {{ project_sidebar_enabled_raw|tojson }};
          if (
            projectSidebarEnabled === false ||
            projectSidebarEnabled === "false" ||
            projectSidebarEnabled === "False" ||
            projectSidebarEnabled === "0" ||
            projectSidebarEnabled === 0 ||
            projectSidebarEnabled === "off" ||
            projectSidebarEnabled === "no"
          ) {
            projectSidebarEnabled = false;
          } else {
            projectSidebarEnabled = true;
          }
        } catch (e) {
          projectSidebarEnabled = true;
        }

        try {
          projectSidebarDefaultCollapsed = {{ project_sidebar_default_collapsed|tojson }};
          projectSidebarDefaultCollapsed =
            projectSidebarDefaultCollapsed === true ||
            projectSidebarDefaultCollapsed === "true" ||
            projectSidebarDefaultCollapsed === "True" ||
            projectSidebarDefaultCollapsed === "1" ||
            projectSidebarDefaultCollapsed === 1 ||
            projectSidebarDefaultCollapsed === "on" ||
            projectSidebarDefaultCollapsed === "yes";
        } catch (e) {
          projectSidebarDefaultCollapsed = false;
        }

        try {
          projectSidebarDefaultWidth = Number({{ project_sidebar_default_width|tojson }}) || 280;
          projectSidebarMinWidth = Number({{ project_sidebar_min_width|tojson }}) || 220;
          projectSidebarMaxWidth = Number({{ project_sidebar_max_width|tojson }}) || 420;
          projectSidebarCollapsedWidth = Number({{ project_sidebar_collapsed_width|tojson }}) || 64;

          if (projectSidebarMinWidth < 160) {
            projectSidebarMinWidth = 220;
          }

          if (projectSidebarMaxWidth < projectSidebarMinWidth) {
            projectSidebarMaxWidth = 420;
          }

          if (projectSidebarDefaultWidth < projectSidebarMinWidth) {
            projectSidebarDefaultWidth = projectSidebarMinWidth;
          }

          if (projectSidebarDefaultWidth > projectSidebarMaxWidth) {
            projectSidebarDefaultWidth = projectSidebarMaxWidth;
          }

          if (projectSidebarCollapsedWidth < 48) {
            projectSidebarCollapsedWidth = 64;
          }
        } catch (e) {
          projectSidebarDefaultWidth = 280;
          projectSidebarMinWidth = 220;
          projectSidebarMaxWidth = 420;
          projectSidebarCollapsedWidth = 64;
        }

        try {
          projectSidebarStorageKey = {{ project_sidebar_storage_key|tojson }} || "vectoplan.projectSidebar.v1";
          projectSidebarCurrentTitle = {{ project_sidebar_current_title|tojson }} || "Aktuelles Projekt";
          projectSidebarCurrentSubtitle = {{ project_sidebar_current_subtitle|tojson }} || "Aktiver Workspace";
        } catch (e) {
          projectSidebarStorageKey = "vectoplan.projectSidebar.v1";
          projectSidebarCurrentTitle = "Aktuelles Projekt";
          projectSidebarCurrentSubtitle = "Aktiver Workspace";
        }

        if (!projectPagePath) {
          projectPagePath = "/ui/project/new/project";
        }

        if (!initialWorkspaceUrl) {
          initialWorkspaceUrl = projectPagePath;
        }

        window.APP_CONFIG = {
          appName: "vectoplan-app",
          baseUrl: {{ base_url_s|tojson }},
          chatId: chatId,
          conversationId: chatId,
          chatUiEnabled: false,

          currentUser: currentUser,
          authenticated: {{ is_authenticated|tojson }},
          demoMode: demoMode,
          persistent: persistent,

          project: currentProject,
          currentProject: currentProject,
          projectId: {{ project_id|tojson }},
          projectPublicId: {{ project_public_id|tojson }},
          currentProjectId: {{ project_public_id|tojson }},
          projectName: {{ project_name|tojson }},
          projectVisibility: {{ project_visibility|tojson }},
          projectIsNew: {{ project_is_new|tojson }},
          projectExists: projectExists,
          projectConfigured: projectConfigured,
          projectToolsEnabled: projectToolsEnabled,
          projectSetupStatus: {{ project_setup_status|tojson }},
          canViewProject: {{ can_view_project|tojson }},
          canEditProject: {{ can_edit_project|tojson }},
          canManageProject: {{ can_manage_project|tojson }},

          defaultMode: {{ resolved_default_mode|tojson }},
          workspaceMode: {{ resolved_workspace_mode|tojson }},
          initialWorkspaceUrl: initialWorkspaceUrl,
          workspacePaths: workspacePaths,

          projectPagePath: projectPagePath,
          projectUrl: projectPagePath,
          projectPublicUrl: projectPublicUrl,
          projectApiPath: {{ (('/v1/projects/' ~ project_public_id_q) if project_public_id and project_public_id != 'new' else '/v1/projects')|tojson }},

          editorPagePath: editorPagePath,
          editor3dPagePath: editorPagePath,
          initialEditorUrl: initialEditorUrl,
          viewerJsonPath: {{ viewer_json_path|tojson }},
          initialViewerUrl: initialEditorUrl,
          viewerUrl: initialEditorUrl,
          viewer_url: initialEditorUrl,

          versionsPath: {{ versions_path|tojson }},
          versionsPagePath: versionsPagePath,

          stateGetPath: {{ state_get_path|tojson }},
          statePutPath: {{ state_put_path|tojson }},

          plan2dJsonPath: {{ plan2d_json_path|tojson }},
          cad2dPagePath: cad2dPagePath,
          cadEmbedJsonPath: {{ cad_embed_json_path|tojson }},
          cadEmbedBase: "http://localhost:8050",

          mapPagePath: mapPagePath,
          mapJsonPath: {{ map_json_path|tojson }},

          adminPagePath: adminPagePath,
          lvPagePath: lvPagePath,

          uploadPath: {{ upload_path|tojson }},

          workspaceTabs: {
            project: {
              key: "project",
              mode: "project",
              aliases: ["project", "projekt", "info"],
              enabled: true,
              configuredRequired: false,
              path: projectPagePath,
              title: "Projekt"
            },
            map: {
              key: "map",
              mode: "map",
              aliases: ["map", "karte", "openlayer"],
              enabled: {{ map_workspace_enabled|tojson }},
              configuredRequired: true,
              path: mapPagePath,
              title: "Map"
            },
            editor3d: {
              key: "editor3d",
              mode: "3d",
              aliases: ["3d", "editor", "editor3d", "viewer", "viewer3d"],
              enabled: {{ editor3d_workspace_enabled|tojson }},
              configuredRequired: true,
              path: initialEditorUrl,
              title: "3D"
            },
            "3d": {
              key: "editor3d",
              mode: "3d",
              aliases: ["3d", "editor", "editor3d", "viewer", "viewer3d"],
              enabled: {{ editor3d_workspace_enabled|tojson }},
              configuredRequired: true,
              path: initialEditorUrl,
              title: "3D"
            },
            cad2d: {
              key: "cad2d",
              mode: "2d",
              aliases: ["2d", "cad", "cad2d", "plan"],
              enabled: {{ cad2d_workspace_enabled|tojson }},
              configuredRequired: true,
              path: cad2dPagePath,
              title: "2D"
            },
            "2d": {
              key: "cad2d",
              mode: "2d",
              aliases: ["2d", "cad", "cad2d", "plan"],
              enabled: {{ cad2d_workspace_enabled|tojson }},
              configuredRequired: true,
              path: cad2dPagePath,
              title: "2D"
            },
            lv: {
              key: "lv",
              mode: "lv",
              aliases: ["lv", "boq", "leistungsverzeichnis"],
              enabled: {{ lv_workspace_enabled|tojson }},
              configuredRequired: true,
              path: lvPagePath,
              title: "LV"
            },
            versions: {
              key: "versions",
              mode: "versions",
              aliases: ["versions", "versionen", "history"],
              enabled: {{ versions_workspace_enabled|tojson }},
              configuredRequired: true,
              path: versionsPagePath,
              apiPath: {{ versions_path|tojson }},
              title: "Versionen"
            },
            admin: {
              key: "admin",
              mode: "admin",
              aliases: ["admin", "settings", "team", "permissions"],
              enabled: {{ admin_workspace_enabled|tojson }},
              configuredRequired: false,
              path: adminPagePath,
              title: "Admin"
            }
          },

          projectSidebar: {
            enabled: projectSidebarEnabled,
            currentChatId: chatId,
            currentProjectId: {{ project_public_id|tojson }},
            current_project_id: {{ project_public_id|tojson }},
            currentTitle: projectSidebarCurrentTitle,
            currentSubtitle: projectSidebarCurrentSubtitle,
            defaultCollapsed: projectSidebarDefaultCollapsed,
            defaultWidth: projectSidebarDefaultWidth,
            minWidth: projectSidebarMinWidth,
            maxWidth: projectSidebarMaxWidth,
            collapsedWidth: projectSidebarCollapsedWidth,
            storageKey: projectSidebarStorageKey,
            routeBase: "/",
            apiPath: "/v1/projects/sidebar",
            items: projectSidebarItems
          },

          projectsApi: {
            list: "/v1/projects",
            create: "/v1/projects",
            sidebar: "/v1/projects/sidebar",
            currentUser: "/v1/projects/current-user"
          },

          legacySpeckleEnabled: false,
          legacy3dBackend: false,
          oldViewerEnabled: false,
          workspaceTargetsAreAppRoutes: true,

          iframe: {
            allow: "fullscreen; pointer-lock; clipboard-read; clipboard-write",
            referrerPolicy: "no-referrer",
            defaultTitle: "VECTOPLAN Workspace"
          },

          debug2dFile: {{ request.args.get('debug2d', '')|tojson }}
        };

        window.INIT_WORKSPACE_URL = initialWorkspaceUrl;
        window.INIT_PROJECT_URL = projectPagePath;
        window.INIT_VIEWER_URL = initialWorkspaceUrl;
        window.INIT_EDITOR_URL = initialEditorUrl;
        window.INIT_MAP_URL = mapPagePath;

        window.__VECTOPLAN_CURRENT_PROJECT__ = currentProject;
        window.__VECTOPLAN_PROJECT_SIDEBAR_ITEMS__ = projectSidebarItems;
      } catch (e) {
        try {
          console.warn("[vectoplan-app] APP_CONFIG init failed", e);
        } catch (_) {}
      }
    })();
  </script>
</head>

<body>
  <noscript>JavaScript ist erforderlich.</noscript>

  <main class="app-wrap vp-project-shell vp-chat-viewer-with-project-sidebar"
        role="main"
        data-chat-id="{{ chat_id_s }}"
        data-conversation-id="{{ chat_id_s }}"
        data-chat-ui-enabled="false"
        data-project-id="{{ project_id }}"
        data-project-public-id="{{ project_public_id }}"
        data-project-is-new="{{ 'true' if project_is_new else 'false' }}"
        data-project-configured="{{ 'true' if project_is_configured else 'false' }}"
        data-project-tools-enabled="{{ 'true' if project_tools_enabled else 'false' }}"
        data-project-setup-status="{{ project_setup_status }}"
        data-project-visibility="{{ project_visibility }}"
        data-demo-mode="{{ 'true' if is_demo_mode else 'false' }}"
        data-persistent="{{ 'true' if is_persistent else 'false' }}"
        data-default-mode="{{ resolved_default_mode }}"
        data-workspace-mode="{{ resolved_workspace_mode }}"
        data-project-page-path="{{ resolved_project_url }}"
        data-editor-page-path="{{ editor_page_path }}"
        data-editor3d-page-path="{{ editor_page_path }}"
        data-map-page-path="{{ map_page_path }}"
        data-cad2d-page-path="{{ cad2d_page_path }}"
        data-lv-page-path="{{ lv_page_path }}"
        data-versions-page-path="{{ versions_page_path }}"
        data-project-sidebar-enabled="{{ project_sidebar_enabled_raw }}"
        data-project-sidebar-storage-key="{{ project_sidebar_storage_key }}"
        data-project-sidebar-default-width="{{ project_sidebar_default_width }}"
        data-project-sidebar-min-width="{{ project_sidebar_min_width }}"
        data-project-sidebar-max-width="{{ project_sidebar_max_width }}"
        data-project-sidebar-collapsed-width="{{ project_sidebar_collapsed_width }}">

    {% include "partials/project_sidebar.html" ignore missing %}

    <aside class="viewer-panel" id="viewer-panel" aria-label="Arbeitsbereich">
      {% include "partials/demo_banner.html" ignore missing %}

      <div class="viewer-toolbar">
        <div class="toolbar-left">
          <div role="group" aria-label="Arbeitsbereich" class="mode-group">
            <button id="modeProjectBtn"
                    class="btn"
                    type="button"
                    aria-pressed="{{ 'true' if resolved_default_mode == 'project' else 'false' }}"
                    title="Projekt"
                    data-workspace-mode-button="project"
                    data-workspace-key="project"
                    data-workspace-path="{{ resolved_project_url }}">
              Projekt
            </button>

            <button id="modeMapBtn"
                    class="btn"
                    type="button"
                    aria-pressed="{{ 'true' if resolved_default_mode == 'map' else 'false' }}"
                    title="Map"
                    data-workspace-mode-button="map"
                    data-workspace-key="map"
                    data-workspace-path="{{ map_page_path }}"
                    data-requires-configured-project="true"
                    {% if not map_workspace_enabled %}disabled aria-disabled="true"{% endif %}>
              Map
            </button>

            <button id="mode3dBtn"
                    class="btn"
                    type="button"
                    aria-pressed="{{ 'true' if resolved_default_mode == '3d' else 'false' }}"
                    title="3D"
                    data-workspace-mode-button="3d"
                    data-workspace-key="editor3d"
                    data-workspace-path="{{ initial_editor_path }}"
                    data-requires-configured-project="true"
                    {% if not editor3d_workspace_enabled %}disabled aria-disabled="true"{% endif %}>
              3D
            </button>

            <button id="mode2dBtn"
                    class="btn"
                    type="button"
                    aria-pressed="{{ 'true' if resolved_default_mode == '2d' else 'false' }}"
                    title="2D"
                    data-workspace-mode-button="2d"
                    data-workspace-key="cad2d"
                    data-workspace-path="{{ cad2d_page_path }}"
                    data-requires-configured-project="true"
                    {% if not cad2d_workspace_enabled %}disabled aria-disabled="true"{% endif %}>
              2D
            </button>

            <button id="modeLvBtn"
                    class="btn"
                    type="button"
                    aria-pressed="{{ 'true' if resolved_default_mode == 'lv' else 'false' }}"
                    title="Leistungsverzeichnis"
                    data-workspace-mode-button="lv"
                    data-workspace-key="lv"
                    data-workspace-path="{{ lv_page_path }}"
                    data-requires-configured-project="true"
                    {% if not lv_workspace_enabled %}disabled aria-disabled="true"{% endif %}>
              LV
            </button>

            <button id="versionsToggleBtn"
                    class="btn"
                    type="button"
                    aria-pressed="{{ 'true' if resolved_default_mode == 'versions' else 'false' }}"
                    title="Versionen"
                    data-workspace-mode-button="versions"
                    data-workspace-key="versions"
                    data-workspace-path="{{ versions_page_path }}"
                    data-versions-api-path="{{ versions_path }}"
                    data-requires-configured-project="true"
                    {% if not versions_workspace_enabled %}disabled aria-disabled="true"{% endif %}>
              Versionen
            </button>

            {% if can_manage_project %}
              <button id="modeAdminBtn"
                      class="btn"
                      type="button"
                      aria-pressed="{{ 'true' if resolved_default_mode == 'admin' else 'false' }}"
                      title="Admin"
                      data-workspace-mode-button="admin"
                      data-workspace-key="admin"
                      data-workspace-path="{{ admin_page_path }}"
                      {% if not admin_workspace_enabled %}disabled aria-disabled="true"{% endif %}>
                Admin
              </button>
            {% endif %}
          </div>
        </div>

        <div class="toolbar-right">
          <button id="themeToggleBtn"
                  class="btn"
                  type="button"
                  aria-pressed="false"
                  title="Theme umschalten">Theme</button>

          <a id="viewerOpenRawBtn"
             class="btn btn-link"
             href="{{ resolved_workspace_src }}"
             target="_blank"
             rel="noopener noreferrer"
             title="Aktuelle Ansicht im neuen Tab öffnen"
             aria-label="Aktuelle Ansicht öffnen">Öffnen</a>
        </div>
      </div>

      <section id="versionsDropdown"
               class="versions-dropdown hidden"
               aria-label="Versionen"
               aria-hidden="true">
        <header class="versions-dd-head">
          <div class="vers-meta">
            <strong>Versionen</strong> · <span id="versCount">0</span>
          </div>

          <div class="versions-dd-actions">
            <button id="versRefreshBtn"
                    class="btn"
                    type="button"
                    title="Liste aktualisieren"
                    aria-label="Versionen aktualisieren">Aktualisieren</button>
          </div>
        </header>

        <ul id="versionsList" class="versions-list"></ul>
      </section>

      <iframe id="viewer-frame"
              class="viewer-iframe"
              title="VECTOPLAN Workspace"
              src="{{ resolved_workspace_src }}"
              referrerpolicy="no-referrer"
              allow="fullscreen; pointer-lock; clipboard-read; clipboard-write"
              loading="eager"></iframe>

      <div class="overlay" aria-hidden="true"></div>
    </aside>
  </main>

  <script src="{{ url_for('static', filename='js/chat/project_sidebar_data.js') }}?v={{ chat_id_s }}"></script>
  <script src="{{ url_for('static', filename='js/chat/project_sidebar_resize.js') }}?v={{ chat_id_s }}"></script>
  <script src="{{ url_for('static', filename='js/chat/project_sidebar.js') }}?v={{ chat_id_s }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/chat/main.js') }}?v={{ chat_id_s }}"></script>
</body>
</html>